body{
    background-color: #8b9be4;
    color:rgb(127, 39, 185);
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    color:rgb(44, 38, 73);
    font-size: 35px;
}
.opcion{
    display: block;
    text-align: center;
    width:350px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color:rgb(13, 61, 59);
    text-decoration: none;
    font-weight: bold;
    cursor:pointer ;
    border-radius: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(to right top, #845EC2, #C197FF, #00C9A7, #005B44);
}
.opcion:hover{
    background-image: linear-gradient(to right top, #845EC2, #A178DF, #BE93FD, #DCB0FF, #FACCFF);
}